{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'images/poland4.jpeg' %}" alt="Portrait" class="img-fluid rounded portrait-img">
    </div>
    <div class="col-md-8">
      <h2>{{ about.title }}</h2>
      {{ about.content | safe }}
      <p>{{ about.description }}</p>
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
  <div class="row bg-light my-5 py-4">
    <div class="col-12">
      <h2>Get in touch!</h2>
      <p>
        Have you been to Poland and found a place you think is worth sharing?
        Get in touch! Let others share in your exploration and spread the joys
        of Polish delicacies, local culture and history. 
        <br>
        <br>
        I believe in the power of shared knowledge and enjoyment. Therefore, I'm always excited to hear from you all adventurous travellers and explorers. 
        Fill out the form and we can get the ball rolling!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
      <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
      <form method="post">
        {{ contact_form | crispy }} {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
